@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=EB+Garamond&display=swap');

body {
  font-family: Cambria, "EB Garamond", Arial, Helvetica, sans-serif;
}

.resume {
  width: 210mm;
  height: 297mm;
  background-color: white;
  margin: auto;
  font-size: 14px;
  padding: 2rem 2rem;
  line-height: 1rem;
  box-sizing: border-box;
}

@layer base {
  html {
    background-color: black;
  }
}
